
@mixin createButton($border, $text-color, $background-color, $padding, $border-radius: $button-border-radius) {
    border: $border;
    color: $text-color;
    background-color: $background-color;
    padding: $padding;
    border-radius: $border-radius;
}