$navigation-color: white;
$main-nav-flex-direction: column;
$main-nav-item-distance: 20px;

$page-width: 1000px;
$page-color: white;
$page-header-background-color: black;
$page-header-height: 70px;
$page-header-paddings: 10px 40px;
$page-brand-color: #FFFFFF;
$page-header-opacity: 0.7;
$page-banner-height: 400px;
$page-banner-text-color: #FFFFFF;
$page-header-position: fixed;

$button-border-radius: 8px;

$divider-length: 20px;
$divider-content: '*';
$divider-line-width: 2px;
$divider-line-style: solid;
$divider-line-color: gray;
$divider-text-align: center;
$divider-width: 100px;
$divider-background-icon-color: #FFFFFF;

$card-title-font-size: 30px;
$card-content-font-size: 20px;

$icon-color: orange;
$icon-size: 80px;